/* ##########
	General Styles
############ */
html, body {
	margin: 0px;
	height: 100%;
	min-width: 850px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

/* ##########
	Header
############ */

.mainheader {
	background-color: #50A162;
}

.logo {
	display: inline-block;
	position: sticky;
	top: 17px;
	padding-left: 30px;
	padding-top: 13px;
}

.mainheader h1 {
	display: inline-block;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 12px;
	font-size: 42px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/* ##########
	Form Panel
############ */
.form {
	width: 100%;
	background-color: #C0DEC7;
	padding-bottom: 10px;
}

.memform .form p {
	display: inline-block;
	margin-left: 20px;
	margin-top: 0px;
	font-size: 16px;
	letter-spacing: 1px;
}

.memform .form p input {
	border: 1px solid black;
}

 .biofield {
	 position: relative;
	 top: 17px;
 }

.buttons {
	display: inline;
	padding-left: 20px;
}

/* ##########
	Main Tree Area
############ */
.treearea {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #6A959D;
}

.fammemboxes {
	border: 1px solid black;
	border-radius: 10px;
	width: 200px;
	height: 150px;
	background-color: white;
	text-align: center;
	margin: 10px;
}

/* ##########
	Box Content
############ */
.memname {
	font-size: 20px;
	letter-spacing: 1px;
	margin: 10px;
	margin-top: 13px;
}

.nick {
	margin: 0px;
  quotes: '"' '"' "'" "'";
	font-size: 14px;
	font-style: italic;
}
.nick::before {
  content: open-quote;
}
.nick:after {
  content: close-quote;
}

.bio {
	margin-top: 8px;
	font-size: 12px;
	text-align: left;
	padding: 2px;
	padding-left: 6px;
	padding-right: 4px;
}

/* ##########
	Footer
############ */

footer {
	width: 100%;
	padding: 30px;
	background-color: #E8F5D4;
	text-align: center;
	font-size: 18px;
}

.footer p {
	margin: 0px;
	font-size: 16px;
	letter-spacing: 2px;
}
